@import '../variables.scss';

header.main {
    height: $height_header;
        max-height: 150px;
        min-height: 100px;
    overflow: hidden;
    position: relative;
      top: 0;
    width: 100%;
    z-index: 5;
}

.site-header {
    a {
        display: block;
        height: 100%;
            max-height: 100%;
    }
}

.inner {
    height: 100%;
}

.site-title {
    background: rgba(#fff, 0.5);
    color: #000;
    display: block;
    font-size: 25px;
    height: 100%;
    margin: 0;
    padding: 20px; 
    position: absolute;
        top: 0;
    width: 100%;
}

.header-image {
    height: 100%;
    position: absolute;
        right: 0;
    width: auto;
        max-width: unset;
        min-width: 100vw;
    z-index: -1;
}

@media screen and (min-width: 40rem) {
    .header-image {
        height: $height_header;
            max-height: 150px;
            min-height: 100px;
        position: relative;
    }

    .site-title {
        font-size: 3em;
    }
}