[submodule "plugins/gatsby-remark-oembed"]
	path = plugins/gatsby-remark-oembed
	url = https://github.com/lillylabs/gatsby-remark-oembed
[submodule "src/blog"]
	path = src/blog
	url = https://github.com/amykapernick/blog-posts
