{% set pagetitle = post.data.title + " | Amy's Kapers" %}
{% set description = "" %}
{% extends 'layouts/main.njk' %}

{% block content %}
<article>
	<h1>{{title}}</h1>
	{{content | safe}}
</article>
{% endblock %}