@import '../variables.scss';

header.main {
	display: flex;
	align-items: center;
	justify-content: space-around;

	img {
		width: 30vw;
		max-width: 150px;
	}

	a {
		text-decoration: none;
		
		&:hover, &:focus {
			background: $secondary;
			color: #fff;
		}
	}
}

.site-title {
	display: inline-block;
	padding: 10px;
	font-family: $font_headings;
	font-size: 1.5em;
	font-weight: bold;
	
}



@media (min-width: 40rem) {
	.home {
		header.main {
			img {
				max-width: 200px;
			}
		}
	}

	.site-title {
		font-size: 3em;
	}
}