<article class="post">
	{% image post.data.featured %}
	<h2>
		<a href="{{post | slug}}" target={{"_blank" if post.data.external else "_self" }}>
			{% if post.data.external %}
				<span class="sr-only">External Link</span>
				{{'/site/src/img/icons/external.svg' | svgContents | safe}}
			{% endif %}
			{{ post.data.title }}
		</a>
	</h2>
	<time datetime="{{post.data.date | formatDate('yyyy-mm-dd')}}">
		{{post.data.date | formatDate}}
	</time>
	<p class="excerpt">{{post.data.excerpt}}</p>
	{% if post.data.categories %}
		<ul class="tags">
			{% for cat in post.data.categories %}
				<li>
					<a href="/{{cat}}">#{{cat}}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	<ul class="share">
		<li>
			<a href="{{post | slug | socialShare('facebook')}}" target="_blank">
			{{'/site/src/img/icons/facebook_circle.svg' | svgContents | safe}}
				<span class="sr-only">Share to Facebook</span>
			</a>
		</li>
		<li>
			<a href="{{post | slug | socialShare('twitter')}}" target="_blank">
			{{'/site/src/img/icons/twitter_circle.svg' | svgContents | safe}}
				<span class="sr-only">Share to Twitter</span>
			</a>
		</li>
	</ul>
</article>