@use '../variables.scss' as var;
@use '../mixins.scss';

.feed {
	margin: 50px 0 0;
	padding: 0 20px;
	list-style: none;

	>li {
		--shadow_colour: var(--colour);
		margin: 0;
		padding: 0;

		&:nth-child(6n) {
			--shadow_colour: var(--colour_1);
		}

		&:nth-child(6n - 1) {
			--shadow_colour: var(--colour_2);
		}

		&:nth-child(6n - 2) {
			--shadow_colour: var(--colour_3);
		}

		&:nth-child(6n - 3) {
			--shadow_colour: var(--colour_4);
		}

		&:nth-child(6n - 4) {
			--shadow_colour: var(--colour_5);
		}
	}
}

.pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px 0;
	padding: 0;
	list-style: none;

	li {
		position: relative;
		margin: 5px;
		padding: 5px 15px;
		color: var.$grey;
		font-family: var.$font_heading;
		font-size: 1.5em;
		font-weight: 500;

		&[aria-current] {
			a {
				border-color: var(--colour);
			}
		}
	}

	a {
		color: var.$neutral;
		line-height: 1;
		text-decoration: none;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border: 2px solid transparent;
		}

		&:hover,
		&:focus {
			&:before {
				border-color: var(--colour);
			}
		}
	}
}

h1.tag-page {
	margin-top: 2em;
	margin-bottom: 1em;
	padding-right: 50px;
	text-align: right;
}

@media(min-width: 40em) {
	.feed {
		display: flex;
		flex-wrap: wrap;
		margin-top: 0;
		padding: 0 50px;

		>li {
			position: relative;
			flex: 1 1 auto;
			width: 40%;
			margin: 20px;

			.post {
				picture {
					position: relative;
					z-index: 0;
					top: -20px;
					left: -20px;
					width: calc(100% + 40px);
					max-width: calc(100% + 40px);
					height: 30vw;
					max-height: 300px;
					overflow: hidden;
				}

				img {
					width: 100%;
					height: 100%;
					margin: 0;
					object-fit: cover;
					object-position: center;
				}
			}
		}

		&.even {
			>li {
				&:nth-child(1),
				&:nth-child(8) {
					width: 100%;
					margin: 0;
					padding: 50px;

					&:not(:first-child) {
						margin-top: 50px;
						margin-bottom: 50px;
					}

					&:before {
						@include mixins.shadow_defaults;
						z-index: -5;
						top: -7px;
						bottom: 0;
						left: -50px;
						width: 100vw;
					}

					.post {
						@include mixins.shadow_top_left;

						width: 50%;
						min-width: 270px;
						max-width: unset;
						margin-left: -50px;
						padding: 30px;

						h2 {
							font-size: 1.5em;
						}

						.excerpt {
							-webkit-line-clamp: 5;
						}

						picture {
							position: absolute;
							z-index: -2;
							top: -30px;
							bottom: -30px;
							left: calc(100% - 20px);
							width: 50vw;
							max-width: unset;
							height: auto;
							max-height: unset;
						}

						img {
							max-width: 800px;
						}
					}

					&:nth-child(2n) {
						.post {
							@include mixins.shadow_bottom_right;
							margin-left: auto;

							picture {
								right: calc(100% - 20px);
								left: auto;
							}
						}
					}
				}

				&:nth-child(8) {
					.post {
						@include mixins.shadow_bottom_right;
						margin-right: -50px;
						margin-left: auto;

						picture {
							right: calc(100% - 20px);
							left: auto;
						}
					}
				}

				&:nth-child(n+9) {
					width: 100%;
					margin-right: 0;
					margin-left: 0;

					.post {
						max-width: unset;
						padding-left: calc(30vw + 20px);

						picture {
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							width: 30vw;
							height: auto;
							max-height: unset;

							img {
								border-bottom: 0;
							}
						}

						.excerpt {
							-webkit-line-clamp: 4;
						}
					}

					&:nth-child(2n) {
						.post {
							@include mixins.shadow_bottom_left;

							max-width: unset;
							padding-right: calc(30vw + 20px);
							padding-left: 20px;

							picture {
								right: 0;
								left: auto;
							}
						}
					}
				}
			}
		}

		&.odd {
			>li {
				&:nth-child(1),
				&:nth-child(4),
				&:nth-child(10) {
					width: 100%;
					margin: 0;
					padding: 50px;

					&:not(:first-child) {
						margin-top: 50px;
						margin-bottom: 50px;
					}

					&:before {
						@include mixins.shadow_defaults;
						z-index: -5;
						top: -7px;
						bottom: 0;
						left: -50px;
						width: 100vw;
					}

					.post {
						@include mixins.shadow_top_left;

						width: 50%;
						min-width: 270px;
						max-width: unset;
						margin-left: -50px;
						padding: 30px;

						h2 {
							font-size: 1.5em;
						}

						.excerpt {
							-webkit-line-clamp: 5;
						}

						picture {
							position: absolute;
							z-index: -2;
							top: -30px;
							bottom: -30px;
							left: calc(100% - 20px);
							width: 50vw;
							max-width: unset;
							height: auto;
							max-height: unset;
						}

						img {
							max-width: 800px;
						}
					}

					&:nth-child(2n) {
						.post {
							@include mixins.shadow_bottom_right;
							margin-left: auto;

							picture {
								right: calc(100% - 20px);
								left: auto;
							}
						}
					}
				}

				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(11),
				&:nth-child(12) {
					.post {
						margin-bottom: 40vw;

						picture {
							position: absolute;
							z-index: -2;
							top: auto;
							right: 20px;
							bottom: calc(-1 * (40vw - 20px));
							left: auto;
							height: 40vw;
						}
					}

					&:nth-child(2n) {
						.post {
							margin-top: 40vw;
							margin-bottom: 0;

							picture {
								top: calc(-1 * (40vw - 20px));
							}
						}
					}

					&:nth-child(2n - 1) {
						.post {
							@include mixins.shadow_top_right;
						}
					}
				}

				&:nth-child(4) {
					.post {
						@include mixins.shadow_bottom_right;
						margin-right: -50px;
						margin-left: auto;

						picture {
							right: calc(100% - 20px);
							left: auto;
						}
					}
				}

				&:nth-child(n+5):nth-child(-n+9) {
					width: 100%;
					margin-right: 0;
					margin-left: 0;

					.post {
						max-width: unset;
						padding-left: calc(30vw + 20px);

						picture {
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							width: 30vw;
							height: auto;
							max-height: unset;

							img {
								border-bottom: 0;
							}
						}

						.excerpt {
							-webkit-line-clamp: 4;
						}
					}

					&:nth-child(2n) {
						.post {
							@include mixins.shadow_bottom_left;

							max-width: unset;
							padding-right: calc(30vw + 20px);
							padding-left: 20px;

							picture {
								right: 0;
								left: auto;
							}
						}
					}
				}
			}
		}
	}
}

@media(min-width: 50em) {
	.feed {
		&.even {
			>li {
				&:nth-child(2) {
					.post {
						&:after {
							@include mixins.shadow_defaults;
							top: -50px;
							right: 30%;
							bottom: 50px;
							width: 50vw;
						}
					}
				}

				&:nth-child(4) {
					.post {
						&:after {
							@include mixins.shadow_defaults;
							top: 80%;
							bottom: -200px;
							left: 80%;
							width: 50vw;
						}
					}
				}

				&:nth-child(9) {
					.post {
						&:after {
							@include mixins.shadow_defaults;
							top: -25%;
							bottom: 30%;
							left: 80%;
							width: 50vw;
						}
					}
				}

				&:nth-child(10) {
					.post {
						&:after {
							@include mixins.shadow_defaults;
							top: -100px;
							right: 40%;
							bottom: -100px;
							width: 100vw;
						}
					}
				}

				&:nth-child(12) {
					.post {
						&:after {
							@include mixins.shadow_defaults;
							top: 40%;
							bottom: -80px;
							left: 40%;
							width: 70vw;
						}
					}
				}

				&:nth-child(n+9) {
					.post {
						padding-left: calc(300px + 20px);

						picture {
							width: 300px;
						}
					}

					&:nth-child(2n) {
						.post {
							padding-right: calc(300px + 20px);
						}
					}
				}
			}
		}

		&.odd {
			>li {
				&:nth-child(n+5):nth-child(-n+9) {
					.post {
						padding-left: calc(300px + 20px);

						picture {
							width: 300px;
						}
					}

					&:nth-child(2n) {
						.post {
							padding-right: calc(300px + 20px);
						}
					}
				}

				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(11),
				&:nth-child(12) {
					.post {
						picture {
							bottom: -250px;
							height: 45vw;
						}
					}

					&:nth-child(2n) {
						.post {
							picture {
								top: -250px;
							}
						}
					}
				}

				&:nth-child(2),
				&:nth-child(11) {
					margin-right: 50px;

					.post {
						&:after {
							@include mixins.shadow_defaults;
							z-index: -10;
							top: -280px;
							right: 50%;
							bottom: -80px;
							width: 70vw;
						}
					}
				}

				&:nth-child(3),
				&:nth-child(12) {
					align-self: start;
					margin-left: 50px;

					.post {
						&:after {
							@include mixins.shadow_defaults;
							z-index: -10;
							top: 60px;
							bottom: -150px;
							left: 80%;
							width: 70vw;
						}
					}
				}
			}
		}
	}

	.pagination {
		margin-top: 100px;
	}
}

@media(min-width: 60em) {
	.feed {
		--shadow_size: 30px;
		padding: 0 5vw;

		>li {
			width: 25%;
			margin: 40px 25px;

			.post {
				picture {
					height: 25vw;
					max-height: 350px;
				}
			}
		}

		&.even {
			>li {
				&:nth-child(1),
				&:nth-child(8) {
					padding: 150px 5vw;

					&:not(:first-child) {
						margin-top: 100px;
						margin-bottom: 100px;
					}

					&:before {
						left: -5vw;
					}

					.post {
						width: 40vw;
						margin-left: 0;
						padding: 50px;

						picture {
							top: -50px;
							bottom: -50px;
							left: calc(100% - 80px);
						}
					}
				}

				&:nth-child(2) {
					.post {
						&:after {
							top: -80px;
							bottom: 80px;
						}
					}
				}

				&:nth-child(8) {
					margin-right: 0;
					margin-left: auto;

					.post {
						picture {
							right: calc(100% - 20px);
						}
					}
				}

				&:nth-child(n+9) {
					.post {
						width: 80%;
						margin-right: auto;
						padding-left: calc(400px + 20px);

						picture {
							width: 400px;
						}
					}

					&:nth-child(2n) {
						.post {
							margin-right: 0;
							margin-left: auto;
							padding-right: calc(400px + 20px);
						}
					}
				}
			}
		}

		&.odd {
			>li {
				&:nth-child(1),
				&:nth-child(4),
				&:nth-child(10) {
					padding: 150px 5vw;

					&:not(:first-child) {
						margin-top: 100px;
						margin-bottom: 100px;
					}

					&:before {
						left: -5vw;
					}

					.post {
						width: 40vw;
						margin-left: 0;
						padding: 50px;

						picture {
							top: -50px;
							bottom: -50px;
							left: calc(100% - 80px);
						}
					}
				}

				&:nth-child(4) {
					.post {
						margin-right: 0;
						margin-left: auto;

						picture {
							right: calc(100% - 20px);
						}
					}
				}

				&:nth-child(n+5):nth-child(-n+9) {
					.post {
						width: 80%;
						margin-right: auto;
						padding-left: calc(400px + 20px);

						picture {
							width: 400px;
						}
					}

					&:nth-child(2n) {
						.post {
							margin-right: 0;
							margin-left: auto;
							padding-right: calc(400px + 20px);
						}
					}
				}

				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(11),
				&:nth-child(12) {
					&:nth-child(2n - 1) {
						margin-top: 200px;

						.post {
							picture {
								bottom: -320px;
							}

							&:after {
								bottom: -250px;
							}
						}
					}

					&:nth-child(2n) {
						margin-top: 300px;
						margin-bottom: 200px;

						.post {
							picture {
								top: -320px;
							}

							&:after {
								top: -350px;
								bottom: -330px;
							}
						}
					}

					&:last-child {
						.post {
							&:after {
								bottom: -150px;
							}
						}
					}
				}
			}
		}
	}
}

@media(min-width: 70em) {
	.feed {
		width: 90vw;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;

		&.even {
			>li {
				&:nth-child(1),
				&:nth-child(8) {
					padding: 150px 0;

					&:before {
						left: -5vw;
					}

					.post {
						width: 45vw;
						padding: 50px;

						h2 {
							margin-top: 0;
						}

						picture {
							top: -50px;
							bottom: -50px;
							left: 40vw;
						}
					}
				}

				&:nth-child(8) {
					.post {
						picture {
							right: 40vw;
						}
					}
				}
			}
		}

		&.odd {
			>li {
				&:nth-child(1),
				&:nth-child(4),
				&:nth-child(10) {
					padding: 150px 0;

					&:before {
						left: -5vw;
					}

					.post {
						width: 45vw;
						padding: 50px;

						h2 {
							margin-top: 0;
						}

						picture {
							top: -50px;
							bottom: -50px;
							left: 40vw;
						}
					}
				}

				&:nth-child(4) {
					.post {
						picture {
							right: 40vw;
						}
					}
				}
			}
		}
	}
}

@media(min-width: 80em) {
	.feed {
		&.even {
			>li {
				&:nth-child(1),
				&:nth-child(8) {
					padding: 200px 0;

					.post {
						picture {
							top: -100px;
							bottom: -100px;
						}
					}
				}
			}
		}

		&.odd {
			>li {
				&:nth-child(1),
				&:nth-child(4),
				&:nth-child(10) {
					padding: 200px 0;

					.post {
						picture {
							top: -100px;
							bottom: -100px;
						}
					}
				}

				&:nth-child(2),
				&:nth-child(11),
				&:nth-child(3),
				&:nth-child(12) {
					&:nth-child(2n) {
						margin-top: 0;
					}
				}

				&:nth-child(3),
				&:nth-child(12) {
					.post {
						margin-top: 0;
					}
				}
			}
		}
	}

	.pagination {
		margin-top: 150px;
	}
}

@media(min-width: 1333.33px) {
	.feed {
		&.even {
			>li {
				&:nth-child(1),
				&:nth-child(8) {
					&:before {
						left: calc(-1 * (50vw - 600px));
					}

					.post {
						width: 560px;
						padding: 90px;

						picture {
							left: 500px;
							width: 700px;
						}
					}
				}

				&:nth-child(8) {
					.post {
						picture {
							right: 500px;
						}
					}
				}
			}
		}

		&.odd {
			>li {
				&:nth-child(1),
				&:nth-child(4),
				&:nth-child(10) {
					&:before {
						left: calc(-1 * (50vw - 600px));
					}

					.post {
						width: 560px;
						padding: 90px;

						picture {
							left: 500px;
							width: 700px;
						}
					}
				}

				&:nth-child(4) {
					.post {
						picture {
							right: 500px;
						}
					}
				}
			}
		}
	}
}
