<header class="main">
	<!-- <ul class="modes">
		<li><button class="light">🌞<span>Light Mode</span></button></li>
		<li><button class="dark">🌛<span>Dark Mode</span></button></li>
	</ul> -->
	<div id="site-header" class="site-header"><a href="/"><img
				alt="Panarama image of Rottnest Island Lighthouse and the beach"
				src="https://d33wubrfki0l68.cloudfront.net/8c4985377bf729a29f4a74a7b43c113a667341fe/e993e/static/rottnest-lighthouse-2500-a327daa676f93c5dbac22fc4143cabda.jpg"
				class="header-image" />
			<h1 class="site-title">Amy Goes to Perth</h1>
		</a>
	</div>
</header>