<!DOCTYPE html>
<html lang="en">

<head>
	<meta charSet="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title data-react-helmet="true">Amy Goes to Perth</title>
	<link data-react-helmet="true" rel="canonical" href="https://amygoestoperth.com.auhttps://amygoestoperth.com.au" />

	<meta data-react-helmet="true" name="description"
		content="Freelance web developer who lives in Perth with her border collie. Just a few musings and ramblings..." />
	<meta data-react-helmet="true" name="theme-color" content="#1C75BC" />

</head>

<body>

</body>

</html>