<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="theme-color" content="#1c75bc"/>
		<link rel="stylesheet" href="/css/main.css"/>

		{% if description is defined and description | length %}
		{% else %}
			{% set description = "Front end developer who lives in Perth with her border collie. Just a few musings and ramblings..." %}
		{% endif %}

		{% set metatitle = [pagetitle, env.site] | join(' | ') %}
		{% set url = [env.url, slug] | join('/') %}

		{# Meta Info #}
		<title>{{metatitle}}</title>
		<meta name="description" content="{{description}}"/>

		{# OG Social #}
		<meta property="og:title" content="{{metatitle}}"/>
		<meta property="og:description" content="{{description}}">
		<meta property="og:image" content="{{featured if featured else '/img/rottnest-lighthouse-2500.jpg'}}"/>
		<meta name="author" content="Amy Kapernick"/>
		<meta property="og:url" content="{{url}}"/>

		{# Twitter #}
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="@amys_kapers"/>
		<meta name="twitter:creator" content="@amys_kapers"/>

		{% block head %}{% endblock %}
	</head>

	<body class={{"home" if home}}>
		{% include 'partials/header.html' %}

		{% block content %}{% endblock %}

		{% include 'partials/footer.html' %}
	</body>

</html>