<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<title>{{pagetitle}} | {{env.site}}</title>

		<meta name="description"
		content="freelance web developer who lives in perth with her border collie. just a few musings and ramblings..."/>
		<meta name="theme-color" content="#1c75bc"/>

		<link rel="stylesheet" href="/css/main.css"/>

		{% block head %}{% endblock %}
	</head>

	<body class={{"home" if home}}>
		{% include 'partials/header.html' %}

		{% block content %}{% endblock %}

		{% include 'partials/footer.html' %}
	</body>

</html>