@use '../variables.scss' as var;

.list {
	margin-bottom: 50px;

	&:before, &:after {
		content: '';
		position: absolute;
		z-index: -1;
		width: 100vw;
	}

	&:before {
		top: 0;
		right: 0;
		bottom: 0;
		border: 1.5px solid var.$darkpurple;
		border-color: var(--heading_colour);
		background: var.$white;
	}

	&:after {
		z-index: -2;
		top: 30px;
		right: -30px;
		bottom: -30px;
		background: var.$darkpurple;
		background: var(--heading_colour);
	}
}
