---
permalink: "feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/atom">
	<title>Amy's Kapers</title>
	<subtitle>Amy's blog about tech, the web and life</subtitle>
	<link href="{{ env.url }}/feed.json" rel="self"/>
	<link href="{{ env.url }}"/>
	<updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
	<id>{{ env.url }}</id>
	<author>
		<name>Amy Kapernick</name>
		<link>https://amyskapers.dev</link>
	</author>
	{% if collections.posts %}
		{%- for post in collections.posts | reverse %}
			{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(env.url) }}{% endset %}
			<entry>
				<title>{{ post.data.title }}</title>
				<link href="{{ absoluteposturl }}"/>
				<updated>{{ post.date | rssDate }}</updated>
				<id>{{ absolutePostUrl }}</id>
				<content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
			</entry>
		{%- endfor %}
	{% endif %}
	
</feed>