---
import SVG from "../parts/svg.astro";
---

<header class="header">
	<a href="/" class="site-title"> Amy’s Kapers</a>
	<SVG name="illustrations/squiggle.svg" />
	<SVG name="illustrations/dots.svg" />
	<SVG name="illustrations/heart.svg" />
	<SVG name="illustrations/petals.svg" />
</header>
