{% set pagetitle = [title, " | Amy's Blog"] | join %}
{% set description = "" %}
{% extends 'layouts/main.njk' %}



{% block content %}
<article class="content">
	<header>
		<h1>{{title}}</h1>
		<time datetime="{{date | formatDate('yyyy-mm-dd')}}">
			{{date | formatDate}}
		</time>
		{% if categories %}
		<ul class="tags">
			{% for tag in categories %}
			<li>
				<a>#{{tag}}</a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		<div class="underline">
			{% svg 'illustrations/underline' %}
		</div>
	</header>
	{{content | postContent | safe}}
</article>
{% endblock %}