---
permalink: /tags/{{tag.name}}/{% if tag.page > 0 %}{{ tag.page + 1 }}/{% endif %}index.html
title: Tags
pagination:
  data: collections.tags
  size: 1
  alias: tag
---
{% set pagetitle = "#" + tag.name + " | Amy's Blog" %}
{% set description = "Front end developer who lives in Perth with her border collie. Just a few musings and ramblings..." %}
{% set class = "home" %}
{% extends 'layouts/main.njk' %}

{% block content %}

<h1 class="tag-page">Filtered by: #{{tag.name}}</h1>

<ul class="feed {{'even' if (tag.page / 2 == 0) else 'odd'}}">
	{% for post in tag.posts %}
		<li>
			{% include 'parts/card.njk' %}
		</li>
	{% endfor %}
</ul>

{# <ul class="pagination">
	<li>
		{% if pagination.href.previous %}
			<a href="{{ pagination.href.previous }}">Previous</a>
		{% else %}
			Previous
		{% endif %}
	</li>
	{%- for pageEntry in pagination.pages %}
		<li
			{% if page.url == pagination.hrefs[ loop.index0 ] %} 
				aria-current="page"
			{% endif %}
		>
			<a href="{{ pagination.hrefs[ loop.index0 ] }}">
				{{ loop.index }}
			</a>
		</li>
	{%- endfor %}
    <li>
		{% if pagination.href.next %}
			<a href="{{ pagination.href.next }}">Next</a>
		{% else %}
			Next
		{% endif %}
	</li>
</ul> #}

{% endblock %}