@use '../variables.scss' as var;
@use '../mixins.scss';

footer {
	position: relative;
	margin-top: 50px;
	padding: 20px;
	border-bottom: 20px solid var.$purple;
	color: var.$purple;

	nav {
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			margin: 0;
			padding: 0;
		}

		svg {
			height: 30px;
		}

		a {
			display: block;
			padding: 10px;
			color: inherit;

			&:after {
				content: '';
				display: block;
				height: 10px;
				border: none;
				background-repeat: no-repeat;
				background-position: left center;
				background-size: auto 5px;
			}

			&:hover {
				&:after {
					animation-name: animate_underline;
					animation-duration: 40s;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
					animation-direction: alternate-reverse;
					background-image: var.$underline_purple;
				}
			}
		}
	}

	.flower {
		position: absolute;
		z-index: -1;
		top: -50px;
		left: -60px;
		width: 100px;
		color: var.$blue;
	}
}

@media(min-width: 40em) {
	footer {
		padding: 40px 20px;

		nav {
			a {
				padding: 15px;
			}
		}

		.flower {
			top: 0;
			left: -50px;
		}
	}
}

@media(min-width: 60em) {
	footer {
		margin-top: 100px;
		padding: 75px 5vw;

		nav {
			svg {
				height: 40px;
			}

			a {
				padding: 25px;
			}
		}

		.flower {
			width: 200px;
		}
	}
}

@media(min-width: 80em) {
	footer {
		margin-top: 150px;

		.flower {
			top: auto;
			bottom: 70px;
			left: -80px;
			width: 280px;
		}
	}
}

@media(min-width: 1333.33px) {
	footer {
		padding: 75px calc(50vw - 600px);

		.flower {
			left: calc(50vw - 800px);
		}
	}
}
