//Fonts
$font_regular: 'Lato', sans-serif;
$font_headings: 'Quicksand', sans-serif;

//Colours
$neutral: #191919;
$grey: #d1d1d1;
$grey_dark: #36454f;
$white: #edf3f7;
$primary: #007cbb;
$primary_light: #80bedd;
$secondary: #00acbb;
$secondary_light: #80d6dd;
$parchment: #ebd5b3;