@import 'variables.scss';

body {
	color: $grey_dark;
	font: $font_regular;
	font-size: 1.2em;
	line-height: 1.4;
	min-height: 100vh;
	margin: 0;
	overflow-x: hidden;
	position: absolute;
	text-decoration-skip-ink: auto;
	width: 100%;
	max-width: 100vw;
}

h1,
h2,
h3 {
	color: $blue;
	font: $font_headings;
}

h1 {
	font-size: 2em;
	text-align: center;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

p {
	font-size: 1.2em;
	line-height: 1.2;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a {
	color: $blue;
	font: inherit;

	&:active,
	&:hover,
	&:focus {
		color: $aqua;
		text-decoration: none;
	}
}

ul,
ol {
	li {
		font-size: 1.2em;
		padding: 5px 0;
		text-align: left;

		&.task-list-item {
			list-style: none;
			margin-left: -40px;
		}
	}
}

i {
	color: $grey;

	&:hover,
	&:focus,
	&:active {
		color: $blue;
	}
}

hr {
	border: none;

	&:before {
		content: '\00B7    \00B7    \00B7    \00B7    \00B7';
		display: block;
		text-align: center;
	}
}

blockquote {
	border-left: 5px solid $blue;
	font: $font_headings;
	font-size: 1.2em;
	font-weight: normal;
	padding: 10px 20px;
}

figure {
	figcaption {
		border-left: 5px solid $blue;
		font: $font_headings;
		font-size: 0.8em;
		font-weight: normal;
		padding: 10px 0 10px 10px;
	}
}

.code {
	margin: 0 auto;
	padding: 5px 20px;
	max-width: 900px;
}

.content {
	padding: 20px 10px;
	margin: 0 auto;
	width: 90vw;
	max-width: 1200px;
}
