//Fonts
$font_regular: 400 1em "Anonymous Pro", monospace;
$font_bold: 700 1em "Anonymous Pro", monospace;
$font_headings: 700 1.5em "Poppins", sans-serif;

//Colours
$black: #191919;
$grey: #d1d1d1;
$grey_dark: #5b5b5b;
$white: #edf3f7;
$blue: #1c75bc;
$blue_light: #6ca7d8;
$aqua: #16a6b1;
$aqua_light: #7cced5;

// Variables
$height_header: 14vh;
$height_footer: 15vh;
